Source: infobash
Section: admin
Priority: extra
Maintainer: Michiel de Boer <locsmif@sidux.com>
Build-Depends: cdbs, debhelper (>= 5), xsltproc, docbook-xsl
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/infobash/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/infobash/trunk/

Package: infobash
Architecture: all
Depends: ${shlibs:Depends}, bash (>= 2.05), coreutils, procps, pciutils, gawk
Suggests: xbase-clients, mesa-utils, irssi | xchat | konversation
Description: System info script for irc
 Infobash is a system information script for IRC (Internet Relay Chat) clients.
 A system information script can display all kinds of things about your 
 hardware and software to users in a chatroom,  so they can help you diagnose 
 problems, ... or just marvel at your system specs and kernel version ;)
 It was created to serve the need for a infoscript that isn't dependent on a 
 particular irc client. Because most irc clients support the /exec command, a 
 script that runs with /exec would be most portable.
